.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

body {
    background-image: url('../../img/LoginBackdrop.png');
    background-size: cover;
    background-position: center;
}